/deep/ body {
    color: #ffffff;
    overflow-y: auto !important;
}

.wrap {
    /**background-color: #2B2F4A;
    background-image: url("../../assets/images/header_banner.jpg");**/
    background-size: cover;
    max-width: 83.333333%;
}

.container-fluid {
    flex-grow: 1;
    margin-bottom: 40px;
}

.anim-logo {
    margin-top: 41px;
}

.slogan {
    font-size: 20px;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.animate {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.check-card {
    box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.34);
    border: none;
    background-color: rgba(162, 162, 162, 0.12);
    margin: 31px auto;
    padding: 20px;
    width: 450px;
}

.info {
    font-size: 18px;
    color: #696969;
}

.public-input {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 175px;
}

.btn-check {
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-block {
    border-bottom: 0;
    overflow-y: -webkit-paged-x;
    height: 154px;
}

.btn-max {
    margin: -10px 0 .25rem 0;
    min-width: unset;
}

.modal-body {
    overflow-y: hidden !important;
}

.mat-input-element, .mat-input-element:focus {
    /**border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;
    padding: 5px;**/
}

.mat-input-element::placeholder {
    color: #cccccc;
}
