<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <ng-container>
            <div class="card check-card">
              <form [formGroup]="importForm">
              <div class="">
                <div class="text-left advanced">
                    Insert your existing Ethereum private key below:
                </div>
                <mat-form-field class="public-input">
                  <input matInput type="text" placeholder="Enter you private key"
                        class="text-lowercase" formControlName="privateKey">
                  <mat-error align="start" *ngIf="errormsg !== ''">
                    {{errormsg}}
                  </mat-error>
                </mat-form-field>
                <button class="btn btn-inverse btn-check" (click)="importPrivateKey()" [disabled]="!importForm.valid">
                  Import
                </button>
              </div>
              </form>
            </div>
        </ng-container>
    </div>
</div>
</div>
</div>
