<style>.sidenav { display: none !important;  } </style>
            <div class="banner">
    	<div class="container">
        	<div class="slider-detail">
            	<h2>Deposit <span>EVO</span></h2>
                <h3>5% bonus</h3>
            </div>
            <div class="slider-count">
            	<span class="active"></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <style>.sidenav { display: none !important;  } </style>
    </div>
    
     <div class="ethBox">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                	<!-- ETH box Item -->
                	<div class="ethBoxItem">
                    	<h4 class="title">ETH</h4>
                        <div class="price">
                        	<span class="block">$465.58</span>
                        	<span class="count">-0.60%</span>
                        </div>
                    </div>
                	<!-- //ETH box Item -->
                </div>
                <div class="col-sm-4">
                	<!-- ETH box Item -->
                	<div class="ethBoxItem">
                    	<h4 class="title">ETH</h4>
                        <div class="price">
                        	<span class="block">$465.58</span>
                        	<span class="count">-0.60%</span>
                        </div>
                    </div>
                	<!-- //ETH box Item -->
                </div>
                <div class="col-sm-4">
                	<!-- ETH box Item -->
                	<div class="ethBoxItem">
                    	<h4 class="title">ETH</h4>
                        <div class="price">
                        	<span class="block">$465.58</span>
                        	<span class="count">-0.60%</span>
                        </div>
                    </div>
                	<!-- //ETH box Item -->
                </div>
            </div>
        </div>
    </div>
    
      <div class="container">
        <div class="graphSection">
            <div class="row-eq-height clearfix">
                <!-- order Book -->
                <div class="tradeBook orderBook">
                    <div class="title">Last Price <span class="point">6544.59</span> <span class="uppercase">USDT</span></div>
                    
                    <div class="tradeBookContent">
                       <div class="orderSellList">
                          <div class="header1">
                                <span class="status"></span>
                                <span class="price">Price(USDT)</span>
                                <span class="amount">Amount(BTC)</span>
                            </div>
                              <ul class="scrollHeight">
                                <li>
                                	<div class="table1">
                                        <span class="status color-sell">SELL 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                         
                                    </div>
                                    <b class="color-sell-bg" style="width: 37.360000000000001%"></b>
                                </li>
                                 <li>
                                	<div class="table1">
                                        <span class="status color-sell">SELL 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                 <li>
                                	<div class="table1">
                                        <span class="status color-sell">SELL 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                 <li>
                                	<div class="table1">
                                        <span class="status color-sell">SELL 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                 <li>
                                	<div class="table1">
                                        <span class="status color-sell">SELL 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                
                                 
                              </ul>
                              <div class="divider"></div>
                              <ul class="scrollHeight">
                                <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                    <b class="color-buy-bg" style="width: 37.360000000000001%"></b>
                                </li>
                                 <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                                <li>
                                	<div class="table1">
                                        <span class="status color-buy">Buy 1</span>
                                         <span class="price">6544.59</span>
                                         <span class="amount">50.00</span>
                                    </div>
                                </li>
                               
                              </ul>
                          </div>
                      </div>
                </div>
                <!-- //order Book -->
                
                <!-- Graph Chart -->
                <div class="tradeBook graphChart">
                    <div class="title">
                    	<span class="icon"><i></i></span>
                      <ul>
                        <li>BTC/USDT 0.01877823</li>
                        <li>≈ 5.42 usd</li>
                        <li>Change <span class="color">-0.29%</span></li>
                        <li>High 0.01887500</li>
                        <li>Low 0.01867512</li>
                        <li>24H Vol 2050760 BTC</li>
                        </ul>

                    </div>
                    <div class="tradeBookContent text-center">
                 	<img src="/assets/images/graph-img.jpg" />
                </div>
                </div>
                <!-- //Graph Chart -->  
            </div>
        </div>
    </div>
    
     <div class="container">
    	<div class="tradeOrder">
        	<div class="row-eq-height clearfix">
            	<!-- Limit Market order -->
                <div class="tradeBook  limitMarketOrder">
                	<div class="title">
                        <ul class="nav1 nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#home">Limit Order</a></li>
                          <li><a data-toggle="tab" href="#marketOrder">Market Order</a></li>
                        </ul>
                        <div class="feestxt">
                        	<a href="#" target="_blank">Fees</a></div>
                    </div>
                    <div class="tab-content clearfix">
                      <div id="limitOrder" class="tab-pane fade in active">
                        	<div class="panel">
                            	<div class="head"><span>Available</span> <b class="buy_available">0.00000000</b> <em class="uppercase">eth</em> <a class="deposit_btn">Deposit</a></div>
                                <div class="formContent">
                                	<div class="input_text">
                                    	<b class="label1">Price</b>
                                        <label><input autocomplete="off" name="price" data-datatype="*" data-msg-null="Please enter buy price" data-msg-error="Buy price cannot be more than %s of current price|Buy price cannot be less than %s of current price" maxlength="14">
                                        <span class="upper unit" unit="show_buy_quote">eth</span>
                                        </label>
                                        <strong class="msg"></strong>
                                        <p class="math_price upper">≈ 5.48 usd</p>
                                     </div>
                                
                                <div class="input_text input_text_amount">
                                	<b class="label1">Amount</b>
                                    	<label>
                                        	<input autocomplete="off" name="amount" data-datatype="*" data-msg-null="Please enter buy volume" data-msg-error="Buy volume cannot be more than %s|Buy volume cannot be less than %s" maxlength="14">
                                            <span class="unit u"><em class="uppercase" lazyfill="<%=base%>">eos</em></span></label>
                                            <strong class="msg"></strong>
                                            </div>
                                <div class="total" id="buy_total"><p>Total <span>0.00000000 ETH</span></p><p class="transform_total"></p></div>
                                
                                <div class="submit"><button class="btn_buy color_buy_bg login_button" type="submit" lazyfill="<%=STORE.lang.toLowerCase()  === 'de-de' ? (base+' BUY ' + (TRADE_TYPE === 'margin' ? '(LONG)' : '')) : ('BUY '+(TRADE_TYPE === 'margin' ? ('(LONG)'+base) : base)  )%>">BUY eos</button> </div>
                                </div>
                            </div>
                        
                        <div class="panel">
                            	<div class="head"><span>Available</span> <b class="buy_available">0.00000000</b> <em class="uppercase">eth</em> <a class="deposit_btn">Deposit</a></div>
                                <div class="formContent">
                                	<div class="input_text"><b class="label1">Price</b><label><input autocomplete="off" name="price" data-datatype="*" data-msg-null="Please enter buy price" data-msg-error="Buy price cannot be more than %s of current price|Buy price cannot be less than %s of current price" maxlength="14"> <span class="upper unit" unit="show_buy_quote">eth</span></label><strong class="msg"></strong><p class="math_price upper"><em style="" id="buy_limit_math_price">≈ 5.48 usd</em></p></div>
                                
                                <div class="input_text input_text_amount"><b class="label1">Amount</b><label><input autocomplete="off" name="amount" data-datatype="*" data-msg-null="Please enter buy volume" data-msg-error="Buy volume cannot be more than %s|Buy volume cannot be less than %s" maxlength="14"> <span class="unit u"><em class="uppercase" lazyfill="<%=base%>">eos</em></span></label><strong class="msg"></strong></div>
                                <div class="total" id="buy_total"><p>Total <span>0.00000000 ETH</span></p><p class="transform_total"></p></div>
                                
                                <div class="submit"><button class="btn_sell color_buy_bg login_button" type="submit" lazyfill="<%=STORE.lang.toLowerCase()  === 'de-de' ? (base+' BUY ' + (TRADE_TYPE === 'margin' ? '(LONG)' : '')) : ('BUY '+(TRADE_TYPE === 'margin' ? ('(LONG)'+base) : base)  )%>">BUY eos</button> </div>
                                </div>
                            </div>
                        
                      </div>
                      <div id="marketOrder" class="tab-pane fade">
                      
                      	
                      
                      
                      </div>
                    </div>
                
                </div>
                <!-- Limit Market order -->
            	<div class="openOrder">
            		<div class="tradeBook">
                	<div class="title">
                    	<span class="icon"><i></i></span>
                    	<span>Open Orders</span>
                    </div>
                    <div class="openordersBody">
                      <ul class="orderUl clearfix">
                        <li class="tradeDate">Date</li>
                        <li>Pairs</li>
                        <li>Type</li>
                        <li>Price (BTC)</li>
                        <li>Amount (FAIR)</li>
                        <li>Total (BTC)</li>
                      </ul>
                      <div class="noFound">No Records</div>
                      
                    </div>

                    </div>
                    
                    <div class="tradeBook">
                	<div class="title">
                    	<span class="icon"><i></i></span>
                    	<span>Order History</span>
                    </div>
                    <div class="openordersBody">
                      <ul class="orderUl">
                        <li class="tradeDate">Date</li>
                        <li>Pairs</li>
                        <li>Type</li>
                        <li>Price (BTC)</li>
                        <li>Amount (FAIR)</li>
                        <li>Total (BTC)</li>
                      </ul>
                      <div class="noFound">No Records</div>
                      
                    </div>

                    </div>
            </div>
            </div>
        </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
